<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.androidgui">

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AndroidGUI"
            tools:ignore="AllowBackup">
        <activity android:name=".placeorder.OrderSuccessfullyPlacedActivity">
        </activity>
        <activity android:name=".placeorder.EnterLocationActivity">
        </activity>
        <activity android:name=".placeorder.EditOrderActivity"
            android:exported="true">
        </activity>
        <activity
                android:name=".placeorder.SelectDineInTakeOutActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".KitchenActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".fileReader"
                android:exported="true">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity
                android:name=".placeorder.PlaceOrderActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".SeeMenuActivity"
                android:exported="true">
        </activity>
        <activity android:name=".CustomerPickActionActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>